<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>ForumForum</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Välkommen till dåliga forumet!</h1>
        <table>
            <tr>
                <td> <b> Namn </b> </td>
                <td> <b> Antal </b> </td>
                <td> <b> Senaste post </b> </td>
            </tr>

            <ul th:each="amne: ${amnen}">
                <tr>
                    <td> <a th:href="@{~/amne/{id}(id = ${amne.id})}"> <span th:text="${amne.id}"> </span> </a> </td>
                    <td> <span th:text="${amne.antal}"> </span> </td>
                    <td> <span th:text="${amne.date}"> </span> </td>
                </tr>
            </ul>
        </table>
        
        <br/>
        <br/>
        
        
        <p>Lägg till ämne:</p>
        <form method="POST">
            <input type="text" name ="Namn"/>
            <input type="submit" value="Lägg till."/>
        </form>

    </body>
</html>