<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>ForumForum</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <table>
            <tr>
                <td> <b> Meddelande </b> </td>
                <td> <b> Signatur </b> </td>
                <td> <b> Tid </b> </td>
            </tr>
            <ul th:each="meddelande: ${meddelanden}">
                <tr>
                    <td style="white-space: pre-line;"> <span th:text="${meddelande.innehall}"/> </td>
                    <td> <span th:text="${meddelande.anvandarnamn}"/></td>
                    <td> <span th:text="${meddelande.tid}"/></td>
                </tr>

            </ul>
        </table>
        <p>Lägg till meddelande:</p>
        <form method="POST">
            <p>Inlägg:</p>
            <p><textarea name="innehall" rows="10" cols="50" placeholder="Max. 1024 chars"></textarea></p>
            <p>Signatur:</p>
            <input type="text" name ="Signatur"/>
            <input type="submit" value="Lägg till."/>

        </form>


    </body>
</html>
