<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hej folk!</h1>

        <table>
            <tr>
                <td> <b> Namn </b> </td>
                <td> <b> Antal </b> </td>
                <td> <b> Senaste post </b> </td>
            </tr>
            
            <ul th:each="trad: ${tradar}">
                <tr>
                    <td> <a th:href="${'/amne/trad/' + trad.id}"><span th:text="${trad.namn}">1</span></a> </td>
                    <td> <span th:text="${trad.antal}"> </span> </td>
                </tr>
            </ul>
        </table>
        <p>Lägg till tråd:</p>
        <form method="POST">
            <input type="text" name ="Name"/>
            <input type="submit" value="Lägg till."/>
        </form>
    </body>
</html>