<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>ForumForum</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text = "farför"/>
        <a th:href="${'/'}">tillbaka </a>


        <table>
            <tr>
                <td> <b> Namn </b> </td>
                <td> <b> Antal </b> </td>
                <td> <b> Senaste post </b> </td>
            </tr>

            <ul th:each="trad: ${tradar}">
                <tr>
                    <td> <a th:href="${'/trad/' + trad.id}"><span th:text="${trad.namn}"></span></a> </td>
                    <td> <span th:text="${trad.antal}"> </span> </td>
                    <td> <span th:text="${trad.tid}"> </span> </td>
                </tr>
            </ul>
        </table>

        <p>Lägg till tråd:</p>
        <form method="POST">
            <p>Rubrik</p>
            <input type="text" name ="Name"/>
            <p>Inlägg</p>
            <p><textarea name="innehall" rows="10" cols="50" placeholder="Max. 1024 chars"></textarea></p>
            <p>Signatur</p>
            <input type="text" name ="Signatur"/>
            <input type="submit" value="Lägg till."/>

        </form>
    </body>
</html>